.productos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    justify-items: center;
}

.producto {
    width: 100%;
    max-width: 300px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s ease;
}

.contenedor_producto {
    position: relative;
}

.imagen {
    max-height: 200px;
}

.imagen img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.detalle {
    margin-top: 10px;
    text-align: center;
}

.detalle h5 {
    font-size: 16px;
    margin-bottom: 5px;
}

.detalle h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.detalle h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.botones {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.btn-agregar {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-ver-mas {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #964B00;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.producto:hover {
    transform: scale(1.05); /* Hace que el contenedor del producto se agrande ligeramente */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Agrega una sombra más pronunciada */
  }
  
  .btn-agregar:hover, .btn-ver-mas:hover {
    background-color: #2ecc71; /* Cambia el color de fondo del botón al pasar el mouse */
  }
  