{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <!-- Basic -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0">
    
        <!-- Site Metas -->
        <title>Formaggi Del Sur</title>
        <meta name="keywords\" content="">
        <meta name="description" content="">
        <meta name="author" content="">
    
        <!-- Site Icons -->
        <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
        <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'app/css/bootstrap.min.css' %}">
    <!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'app/css/responsive.css' %}">
    <!-- color -->
    <link id="changeable-colors" rel="stylesheet" href="{% static 'app/css/colors/vivid-yellow.css' %}" />
    <link rel="stylesheet" href="{% static 'app/css/carrito.css' %}">
    
    <!-- Modernizer -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'app/images/icono_ventana.png' %}">
    
    <script src="{% static 'app/js/modernizer.js' %}"></script>
    <script src="{% static 'static/app/js/carrito.js"' %}"></script>
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        
        {% block css %}

    {% endblock %}
    
</head>

<body>
    <div id="site-header">
        <header id="header" class="header-block-top">
            <div class="container">
                <div class="row">
                    <div class="main-menu">
                        <!-- navbar -->
                        <nav class="navbar navbar-default" id="mainNav">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <div class="logo">
                                    <a class="navbar-brand js-scroll-trigger logo-header" href="#">
                                        <img src="images/logo.png" alt="">
                                    </a>
                                </div>
                            </div>
                            <div id="navbar" class="navbar-collapse collapse">
                                <ul class="nav navbar-nav navbar-right">
                                    <li> <a onclick="location.href='{% url 'index' %}'">Inicio</a></li>
                                    <li> <a onclick="location.href='{% url 'registro' %}'">Registro</a></li>
                                </ul>
                            </div>
                            <!-- end nav-collapse -->
                        </nav>
                        <!-- end navbar -->
                    </div>
                </div>
                <!-- end row -->
            </div>
            <!-- end container-fluid -->
        </header>
        <!-- end header -->
    </div>
	<!-- end site-header -->
    
    
    <div id="banner" class="banner full-screen-mode parallax">
        <div class="container pr"> 
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                
                <div class="banner-text">
                    <div class="banner-cell">
                        <div id="reservation" class="reservations-main">
                            <div class="container">
                                
                                <div class="form-reservations-box">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div id="contenedor-carrito" class="text-center">
                                            <h2>Carrito de Compras</h2>
                                            <div id="carrito-vacio" class="mensaje-carrito">El carrito está vacío</div>
                                            <div id="carrito-productos" class="productos-carrito"></div>
                                            <div id="carrito-total" class="total-carrito"></div>
                                            <form class="reserve-book-btn text-center" action="{% url 'guardar_venta' %}" method="POST">
                                                {% csrf_token %}
                                                <!-- Otros campos del formulario -->
                                                <button class="btn btn-success float-right" id="boton-pago" type="submit" onclick="realizarPago()">Realizar Pago</button>
                                                <!--th><a style="float:right; margin:5px" class="btn btn-dark checkout" href="https://www.flow.cl/btn.php?token=kddtnxt">Proceder al pago</a></th-->
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end banner -->

        <div class="footer-box pad-top-70">
            <div class="container">
                <div class="row">
                    <div class="footer-in-main">
                        <div class="footer-logo">
                            <div class="text-center">
                                <img src="images/logo.png" alt="" />
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="footer-box-a">
                                <h3>Sobre Nosotros</h3>
                                <p>Aenean commodo ligula eget dolor aenean massa. Cum sociis nat penatibu set magnis dis parturient montes.</p>
                                <ul class="socials-box footer-socials pull-left">
                                    <li>
                                        <a href="#">
                                            <div class="social-circle-border"><i class="fa  fa-facebook"></i></div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="social-circle-border"><i class="fa fa-twitter"></i></div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="social-circle-border"><i class="fa fa-google-plus"></i></div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="social-circle-border"><i class="fa fa-pinterest"></i></div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="social-circle-border"><i class="fa fa-linkedin"></i></div>
                                        </a>
                                    </li>
                                </ul>

                            </div>
                            <!-- end footer-box-a -->
                        </div>
                        <!-- end col -->
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="footer-box-b">
                                <h3>Como llegar</h3>
                                <a href="https://www.google.com/maps/dir//Calle+7+637,+Conc%C3%B3n/@-32.9239755,-71.5191107,17z/data=!4m9!4m8!1m0!1m5!1m1!1s0x9689c32efc6436cb:0x80c7136640bf62b3!2m2!1d-71.5165358!2d-32.92398!3e0"
                                    target="_blank"></a>
                                    <div id="map"></div>
                            </div>
                            <!-- end footer-box-b -->
                        </div>
                        <!-- end col -->
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="footer-box-c">
                                <h3>Contactanos</h3>
                                <p>
                                    <i class="fa fa-map-signs" aria-hidden="true"></i>
                                    <span>Calle 7, 637, Concon</span>
                                </p>
                                <p>
                                    <i class="fa fa-mobile" aria-hidden="true"></i>
                                    <span>
									    +569 4102 4974  
								    </span>
                                </p>
                                <p>
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                    <span>
                                        formaggidelsur@gmail.com 
                                    </span>
                                </p>
                            </div>
                            <!-- end footer-box-c -->
                        </div>
                        <!-- end col -->
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="footer-box-d">
                                <h3>Horarios de apertura</h3>

                                <ul>
                                    <li>
                                        <p>Lunes - Sabado </p>
                                        <span> 9:00 AM - 8:00 PM</span>
                                    </li>
                                </ul>
                            </div>
                            <!-- end footer-box-d -->
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end footer-in-main -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end footer-box -->
    </div>
    <!-- end footer-main -->

    <a href="#" class="scrollup" style="display: none;">Scroll</a>

    <section id="color-panel" class="close-color-panel">
        <a class="panel-button gray2"><i class="fa fa-cog fa-spin fa-2x"></i></a>
        <!-- Colors -->
        <div class="segment">
            <h4 class="gray2 normal no-padding">Color Scheme</h4>
            <a title="orange" class="switcher orange-bg"></a>
            <a title="strong-blue" class="switcher strong-blue-bg"></a>
            <a title="moderate-green" class="switcher moderate-green-bg"></a>
            <a title="vivid-yellow" class="switcher vivid-yellow-bg"></a>
        </div>
    </section>
    
    <!-- ALL JS FILES -->
    <script src="{% static 'app/js/all.js' %}"></script>
    <script src="{% static 'app/js/bootstrap.min.js' %}"></script>
    <script async src="https://goo.gl/maps/Lh7KS1LTTuu5xWbR6"></script>
    <!-- ALL PLUGINS -->
    <script src="{% static 'app/js/custom.js' %}"></script>
    
</body>

<script>
    const guardarVentaUrl = "{% url 'guardar_venta' %}";
    const csrfToken = "{{ csrf_token }}";
  </script>
  <script src="{% static 'app/js/carrito.js' %}"></script>
  
</html>









