<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0">

    <!-- Site Metas -->
    <title>Formaggi Del Sur</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- color -->
    <link id="changeable-colors" rel="stylesheet" href="css/colors/vivid-yellow.css" />

    <!-- Modernizer -->
    <link rel="shortcut icon" type="image/x-icon" href="images/icono_ventana.png">

    <script src="js/modernizer.js"></script>
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% block css %}

    {% endblock %}

</head>
<body>

    <div id="site-header">
        <header id="header" class="header-block-top">
            <div class="container">
                <div class="row">
                    <div class="main-menu">
                        <!-- navbar -->
                        <nav class="navbar navbar-default" id="mainNav">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <div class="logo">
                                    <a class="navbar-brand js-scroll-trigger logo-header" href="#">
                                        <img src="images/logo.png" alt="">
                                    </a>
                                </div>
                            </div>
                            <div id="navbar" class="navbar-collapse collapse">
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="active"><a onclick="location.href='{% url 'index' %}'">Inicio</a></li>

                                    <li class="active">
                                        <a onclick="location.href='{% url 'carrito2' %}'">
                                            <i class="fa fa-shopping-cart"></i> Carrito
                                        </a>
                                    </li>


                                    {% if perms.app.change_producto%}
                                        {% if perms.app.delete_producto%}
                                        {% if perms.app.view_producto%}
                                        <li>
                                            <li> <a onclick="location.href='{% url 'listar_productos' %}'">listar_productos</a></li>
                                        </li>
                                        {% endif %}
                                        {% endif %}
                                        {% endif %}
                                        {% if perms.app.add_producto%}
                                        <li>
                                            <li> <a onclick="location.href='{% url 'agregar' %}'">agregar</a></li>
                                        </li>
                                        {% if perms.app.view_producto%}
                                        <li>
                                            <li> <a onclick="location.href='{% url 'recibir_pedidos' %}'">V_vendedor</a></li>
                                        </li>
                                        {% endif %}
                                        {% if perms.app.view_producto%}
                                        <li>
                                            <li> <a onclick="location.href='{% url 'vista_bodeguero' %}'">V_bodeguero</a></li>
                                        </li>
                                        {% endif %}
                                        {% endif %}

                                        {% if user.is_authenticated %} 
                                    <li> <a href=# >{{user.username}}</a></li>
                                    <li> <a href="{% url 'logout' %}">cerrar sesion</a> </li>
                                        {% else %}
                                        <li>
                                            <a href="{% url 'login' %}">login</a>
                                            <li> <a onclick="location.href='{% url 'login' %}'">Registro</a></li>
                                    </li>


                                        {% endif %}


                                </ul>
                            </div>
                            <!-- end nav-collapse -->
                        </nav>
                        <!-- end navbar -->
                    </div>
                </div>
                <!-- end row -->
            </div>
            <!-- end container-fluid -->
        </header>
        <!-- end header -->
    </div>
    <!-- end site-header -->

    <div id="about" class="about-main pad-top-100 pad-bottom-100">
        <div class="container">
            <div class="row">
                <div id="contenido">


                    {% block contenido %}

                    {% endblock %}

                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>

    <br>
    <br>
    <br>


    <div id="footer" class="footer-main">
        <div class="footer-news pad-top-100 pad-bottom-70 parallax">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                            <h2 class="ft-title color-white text-center"> Newsletter </h2>
                            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        </div>
                        <form>
                            <input type="email" placeholder="Ingresa tu e-mail">
                            <a href="#" class="orange-btn"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></a>
                        </form>
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end footer-news -->
        <div class="footer-box pad-top-70">
            <div class="container">
                <div class="row">
                    <div class="footer-in-main">
                        <div class="footer-logo">
                            <div class="text-center">
                                <img src="images/logo.png" alt="" />
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="footer-box-a">
                                <h3>Sobre Nosotros</h3>
                                <p>Viva el queso de cabra ctm.</p>
                                <ul class="socials-box footer-socials pull-left">
                                    <li>
                                        <a href="#">
                                            <div class="social-circle-border"><i class="fa  fa-facebook"></i></div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="social-circle-border"><i class="fa fa-twitter"></i></div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="social-circle-border"><i class="fa fa-google-plus"></i></div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="social-circle-border"><i class="fa fa-pinterest"></i></div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="social-circle-border"><i class="fa fa-linkedin"></i></div>
                                        </a>
                                    </li>
                                </ul>

                            </div>
                            <!-- end footer-box-a -->
                        </div>
                        <!-- end col -->
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="footer-box-b">
                              <h3>Como llegar</h3>
                              <p>Ingrese aquí la dirección</p>
                              <a href="https://goo.gl/maps/Lh7KS1LTTuu5xWbR6"
                                target="_blank">
                                <div id="map"></div>
                              </a>
                            </div>
                          </div>



                        <!-- end footer-box-b -->
                        </div>
                        <!-- end col -->
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="footer-box-c">
                                <h3>Contactanos</h3>
                                <p>
                                    <i class="fa fa-map-signs" aria-hidden="true"></i>
                                    <span>Calle 7, 637, Concon</span>
                                </p>
                                <p>
                                    <i class="fa fa-mobile" aria-hidden="true"></i>
                                    <span>
                                        +569 4102 4974  
                                    </span>
                                </p>
                                <p>
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                    <span>
                                        formaggidelsur@gmail.com 
                                    </span>
                                </p>
                            </div>
                            <!-- end footer-box-c -->
                        </div>
                        <!-- end col -->
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="footer-box-d">
                                <h3>Horarios de apertura</h3>

                                <ul>
                                    <li>
                                        <p>Lunes - Sabado </p>
                                        <span> 9:00 AM - 8:00 PM</span>
                                    </li>
                                </ul>
                            </div>
                            <!-- end footer-box-d -->
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end footer-in-main -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end footer-box -->
    </div>
    <!-- end footer-main -->

    <a href="#" class="scrollup" style="display: none;">Scroll</a>

    <section id="color-panel" class="close-color-panel">
        <a class="panel-button gray2"><i class="fa fa-cog fa-spin fa-2x"></i></a>
        <!-- Colors -->
        <div class="segment">
            <h4 class="gray2 normal no-padding">Color Scheme</h4>
            <a title="orange" class="switcher orange-bg"></a>
            <a title="strong-blue" class="switcher strong-blue-bg"></a>
            <a title="moderate-green" class="switcher moderate-green-bg"></a>
            <a title="vivid-yellow" class="switcher vivid-yellow-bg"></a>
        </div>
    </section>

    <!-- ALL JS FILES -->
    <script src="app/js/all.js"></script>
    <script src="app/js/bootstrap.min.js"></script>
    <script async src="https://goo.gl/maps/Lh7KS1LTTuu5xWbR6"></script>
    <!-- ALL PLUGINS -->
    <script src="app/js/custom.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script src="app/js/menu_tienda.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        $(document).ready(function() {
          $('.slider').bxSlider({
              mode: 'fade',//horizontal, vertical, fade
              auto: true,
              pause: 2000
          });
        });
    </script>
    {% if messages %}
    {% for m in messages %}
        <script>
            Swal.fire({
                title: 'Felicitaciones',
                text: '{{ m }}',
                icon: 'success'
            });
        </script>
    {% endfor %}
    {% endif %}


    {% block js %}
    {% endblock %}

</body>
</html>
