{% extends 'app/tienda_base.html' %}

{% block contenido %}

{%block js%}

<script>
    function eliminar_producto(id) {
        Swal.fire({
            title: '¿Estás seguro?',
            text: 'Esta acción no se puede deshacer',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sí, eliminar',
            cancelButtonText: 'Cancelar'
        })
        .then(function(result) {
            if (result.isConfirmed) {
                window.location.href = "/eliminar-producto/" + id + "/";
            }
        })
        
    }
    </script>
    
{% endblock %}


{%load humanize%}
<br>
<br>
<br>
<div class="card">
    <div class="card-body">
        <h3> Listado de productos<h3/>
            <hr>
            <table class="table table-striped table-hover table-responsive-sm">
                <tr>
                    <th>Nombre</th>
                    <th>Precio</th>  
                    <th>Marca</th>  
                    <th>es nuevo?</th>
                    <th>Opciones</th>  
                
                </tr>
                    {% comment %} recorre todas las listar dentro de producto {% endcomment %}
                {% for p in productos%} 
            
                <tr>
                    <td>{{p.nombre | title}} </td>
                    <td>${{p.precio | intcomma}} </td>
                    <td>{{p.marca | title }} </td>
                    <td> 
                    {% if p.nuevo %}
                        SI
                    {% else %}
                        NO
                    {% endif %}
                    </td>                     
                <td>
                    <a href="{% url 'modificar_producto' p.id %}" class='btn btn-info btn-sm'>modificar</a></a>
                    {% if perms.app.delete_producto %}
                    <a href="#" onclick="eliminar_producto({{ p.id }})" class="btn btn-danger btn-sm">Eliminar</a>
                    {% endif%}
                </td>


                </tr>

            
                {% endfor %}
            </table>
    </div>
</div>




{% endblock %}